name: docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: check
      run: ls -la /home/vboxuser/develop/c/shell && ls -la /home/vboxuser/develop/c/shell
    - name: Pull test image
      run: docker pull ltyxlk/kubsh_test:master
    - name: Run tests
      run: docker run -v /home/vboxuser/develop/c/shell:/mnt --cap-add SYS_ADMIN --cap-add KILL --device /dev/fuse --security-opt apparmor:unconfined tyvik/kubsh_test:master ./check.sh

